.mainContainer {
  // width: 850px;
  // width: 58%;
  padding-right: 12px;
  margin: 0 auto;
  gap: 96px;
}
.mainContainerCreate {
  @extend .mainContainer;
}

.content {
  display: flex;

  align-items: center;
  gap: 96px;
}

.iconDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 12px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 168px;
  height: 168px;
  flex-shrink: 0;
  border-radius: 50%;
}

.inputField {
  margin-bottom: 24px;
}
.headingMain {
  color: #0e0f0c;
  text-align: center;

  /* Title Screen */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 113.333% */
  letter-spacing: -0.75px;
  margin-top: 0;
}
.heading {
  color: #454745;
  text-align: center;

  /* Title Body */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.18px;
}

.description {
  color: #454745;
  text-align: center;

  /* Body/Default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}
.textDetails {
  color: #4b9a19;

  /* Body/Large Bold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
.headingDetails {
  color: #0e0f0c;

  /* Body/Large Bold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}
.subText {
  padding: 0 24px 0 42px;
  color: #0e0f0c;
  /* Body/Default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}
.subTextFees {
  @extend .subText;
  padding-left: 0;
}

.start {
  text-align: left;
}
.checkBox {
  width: 22px;
  height: 22px;
}
.shieldIcon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.flex {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;

  // align-items: center;
}
.total,
.amount {
  margin-bottom: 12px;
}

.total {
  display: flex;
}
.amountBigUpdated {
  color: #0e0f0c;
  /* Body/Large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}

.flexDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexDetailsLine {
  @extend .flexDetails;
  border-bottom: 1px solid rgba(14, 15, 12, 0.12);
  padding-bottom: 8px;
}
.summary {
  width: 100%;
}
.select {
  border-radius: 100px;
  border: 1px solid rgba(22, 51, 0, 0.12);
  background: #fff;
  color: #0e0f0c;
  // background-color: rgb(159, 232, 112);
  padding: 4px 8px 4px 16px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-left: 4px;
}
.chevron {
  width: 24px;
  height: 56px;
  margin-right: 8px;
}
.btn {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 48px;
}

.start {
  text-align: start;
}
.subTextFeesDetail {
  padding: 0 48px 0 0;
  margin-right: 60px;
  color: #0e0f0c;
  /* Body/Default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
}
.dragDropContainer {
  box-sizing: border-box;
  // aspect-ratio: 1;
  border-radius: 16px;
  border: 1px dashed rgba(22, 51, 0, 0.16);
  background: #fafafa;
  // width: 340px;
  height: 300px;
  padding: 0 36px;
  width: 100%;
}
.innerWrapper {
  max-width: 370px;
  width: 100%;
}
.upload {
  color: #0e0f0c;

  /* Body/Large Bold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
}

.details {
  color: #454745;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.14px;
}
.listItem {
  // width: 100%;
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  border-radius: 10px;
  background: rgba(22, 51, 0, 0.08);
}

.listItemLeft,
.listItemRight {
  display: flex;
  // gap: 8px;
  align-items: center;
  // justify-content: center;
  flex-wrap: nowrap;
  word-break: break-all;
  gap: 4px;
}

// .listItemLeft {
//   width: 60%;
// }
.shield {
  width: 28%;
  height: 12%;
  margin-right: 24px;
  aspect-ratio: 1;
  border-radius: 100px;
}

//
//
.textArea {
  border-radius: 10px;
  // border: 1px solid #868685;
  border: 1px solid #d9d9d9;
  width: 100%;
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  // outline: 1px #d9d9d9;
  //
  color: #0e0f0c;

  /* Body/Large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}
.textArea:focus {
  border: 1px solid #20c77c;
  outline: 1px #20c77c;
}
.textAreaDes {
  margin: 0;
  color: #454745;

  /* Body/Default */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.14px;
  margin-bottom: 3px;
}

/* Stepper.module.css */
.customSteps {
  max-width: 700px !important;
  margin: 36px auto 72px auto !important;
  height: 36px;
  padding: 0 24px;
}
.flexStepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 100px;
  background: rgba(22, 51, 0, 0.08);
  // background: linear-gradient(90deg, #9fe870 0%, #163300 100%);

  height: 2px;
  margin-bottom: 24px;
}

// .flexStepper .active {
//   background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
//   cursor: pointer;
// }
.flexStepperColor2 {
  @extend .flexStepper;
  // background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
  width: 100%;
}

.flexStepperColor2::after {
  @extend .flexStepper;
  content: "";
  height: 2px;
  width: 30%;
  top: 13px;
  background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
}

.flexStepperColor3 {
  @extend .flexStepper;
  width: 100%;
}
.flexStepperColor3::after {
  @extend .flexStepper;
  content: "";
  height: 2px;
  width: 62%;
  top: 13px;
  background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
}
.flexStepperColor4 {
  @extend .flexStepper;
  width: 100%;
}
.flexStepperColor4::after {
  @extend .flexStepper;
  content: "";
  height: 2px;
  width: 98%;
  top: 13px;
  background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
}

.flexStepperHeading {
  @extend .flexStepper;
  background: none;
  text-align: left;
}
/* styles.module.css */
.error {
  border-color: red;
}

// .dot {
//   font-size: 12px;
// }
// .dot::before {
//   content: "";
//   height: 10px;
//   position: absolute;
//   border-radius: 50%;
//   width: 10px;

//   display: inline-block;
//   // background-color: #4b9a19;
//   background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
//   top: -4px;
//   left: 0;
// }
.dotHeading {
  cursor: pointer;
}
.dotHeading1,
.dotHeading2,
.dotHeading3,
.dotHeading4 {
  cursor: pointer;
}
.dotHeading1,
.dotHeading2,
.dotHeading3,
.dotHeading4 :hover {
  cursor: pointer;
  color: #0e0f0c;
  text-align: center;

  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.175px;
}
.dotHeading1::after {
  content: "";
  height: 10px;
  position: absolute;
  border-radius: 50%;
  width: 10px;

  display: inline-block;
  // background-color: #4b9a19;
  background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
  top: -30px;
  left: 0;
}
.dotHeading2::after {
  @extend .flexStepperColor2;
  content: "";
  height: 10px;
  position: absolute;
  border-radius: 50%;
  width: 10px;

  display: inline-block;
  top: -30px;
  left: 30%;
  background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
  display: none;
}

.dotHeading3::after {
  @extend .flexStepperColor3;

  content: "";
  height: 10px;
  position: absolute;
  border-radius: 50%;
  width: 10px;

  display: inline-block;
  top: -30px;
  left: 62%;
  background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
  display: none;
}

.dotHeading4::after {
  @extend .flexStepperColor4;

  content: "";
  height: 10px;
  position: absolute;
  border-radius: 50%;
  width: 10px;

  display: inline-block;
  top: -30px;
  left: 98%;
  background: linear-gradient(90deg, #9fe870 0%, #163300 100%);
  display: none;
}

.active::after {
  display: block;
}
.createFlex {
  gap: 164px;
  display: flex;
  // justify-content: center;
  align-items: center;
}

.createInput {
  width: 50%;
}
.createMain {
  margin: 0 auto;
  margin-bottom: 24px;
  gap: 64px;
  padding: 12px;
  max-width: 720px;
  display: flex;
  flex-direction: column;
}
// =========================================
.detailsMain {
  max-width: 550px;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.detialsCol {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  // width: 100%;
}
.detailsItem {
  width: 100%;
}
.detailsBox {
  display: flex;
  justify-content: space-between;
}
.cancelFee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailsFlex {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.detailsPayment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selectAfter {
  @extend .select;
  border-radius: 100px;
  background-color: #fff;
}
// =============================================
// ======compilance==============
.compilanceMain {
  // display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20;
  max-width: 624px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 24px 2px;
  width: 100%;

  //
  // vertical
  // align="center"
  // gap={20}
  // style={{
  //   width: "760px",
  //   margin: "auto",
  //   marginBottom: "24px",
  //   padding: "12px",
  // }}
}
.compilanceBox {
  display: flex;
  // justify-content: ;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  width: 100%;
}
.textHeadingComplilance {
  text-align: center;
  width: 100%;
  font-size: 30px;
  margin-left: -100px;
}
.stepperFlexMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 48px; */
  margin: 24px 0;
}
.stepperFlexNew {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.stepperMainResponsive {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}
.spanStepper {
  font-size: 14px;
  opacity: 0.8;
}
.uploadedFiles {
  max-width: 500px;
  width: 100%;
  margin: 0px auto;
}
// .customSteps {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .stepperMainResponsive {
//   /* Add any additional styling for individual steps if needed */
//   flex-grow: 1;
//   text-align: center;
//   padding: 10px;
//   cursor: pointer;
//   // display: flex;
// }
.ant-flex-justify-space-between {
  justify-content: space-between !important;
  align-items: baseline !important;
}
// =-----------------------------------------------------------------------------------------------------------------
// --------STEP CREATE------------------
@media screen and (max-width: 750px) {
  .mainContainerCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 12px;
    // margin: 0 auto;
    gap: 48px;
  }
  .nextBtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .createInput {
    width: 100%;
    padding: 0 24px;
  }
  .createFlex {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .headingMain {
    margin-bottom: 0;
  }
  .description {
    font-size: 16px;
  }
  .createMain {
    // margin: auto;
    // margin-bottom: 16px;
    // gap: 24px;
  }
  .img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 550px) {
  .mainContainerCreate {
    gap: 38px;
  }

  .createInput {
    padding: 0 24px;
    width: 100%;
  }
  .createFlex {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 8px;
  }
  .headingMain {
    margin-bottom: 0;
  }
  .description {
    font-size: 14px;
    margin-top: 4;
  }
  .createMain {
    margin: auto;
    margin-bottom: 8px;
    gap: 0;
  }
  .img {
    width: 120px;
    height: 120px;
  }
  .headingMain {
    font-size: 26px;
    margin-bottom: 0;
  }
  .amountBigUpdated {
    display: flex;
    justify-content: space-between;
    width: 100%;

    align-items: center;
    font-size: 14px;
    border-radius: 100px;
  }
}

@media screen and (max-width: 375px) {
  .mainContainerCreate {
    gap: 34px;
  }

  .createInput {
    padding: 0 18px;
    width: 100%;
  }
  .createFlex {
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding: 6px;
  }
  .headingMain {
    margin: 0;
  }
  .description {
    font-size: 13px;
  }
  .createMain {
    margin: auto;
    margin-bottom: 12px;
    gap: 0;
  }
  .textDetails {
    padding-right: 6px;
  }
}

// =========================================
// =======sSTEP DETAILS==============
@media screen and (max-width: 640px) {
  .detialsCol {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .cancelFee {
    display: flex;
    gap: 2px;
  }
  .flex {
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
  }
}
@media screen and (max-width: 520px) {
  .detailsBox {
    gap: 12px;
  }
  .checkBox {
    width: 20px;
    height: 20px;
  }
  .flex {
    gap: 20px;
  }
  .shieldIcon {
    width: 80px;
    height: 80px;
  }
  .subTextFeesDetail {
    color: #676962;

    font-size: 14px;
  }
}
@media screen and (max-width: 416px) {
  .subTextFeesDetail {
    padding-right: 20px;
    margin-right: 0;
  }
  .select {
    border-radius: 50px;

    padding: 2px 4px 1px 4px;
    font-size: 13px;
  }
  .amountBig {
    font-size: 14px;
  }
  .detailsPayment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  .chevron {
    width: 20px;
    height: 48px;
    margin-right: 6px;
  }
  .amount {
    font-size: 13px;
    margin: 0;
  }
}
//
// ===========================================================
// compilance===========
@media screen and (max-width: 780px) {
  .compilanceBox {
    flex-direction: column;
    align-items: flex-start !important;
    // justify-content: flex-start;
    margin-bottom: 12px;
  }
  .dragDropContainer {
    // width: 320px;

    height: 280px;
  }
  .shield {
    width: 18%;
    margin-right: 26px;
  }
}
@media screen and (max-width: 490px) {
  .dragDropContainer {
    // width: 320px;
    height: 260px;
  }
  // .shield {
  //   width: 14%;
  //   margin-right: 30px;
  // }
}
@media screen and (max-width: 390px) {
  .dragDropContainer {
    // width: 320px;
    height: 240px;
  }
  // .shield {
  //   width: 12%;
  // }
}
