.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-bottom: 48px;
  margin-top: 24px;
  position: relative;
}
.routesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.iconsContainer {
  display: flex;
  width: 166.974px;
  height: 32px;
  justify-content: center;
  align-items: flex-end;
  gap: 14.669px;
  flex-shrink: 0;
}
.iconMask {
  width: 28.089px;
  height: 31.229px;
  flex-shrink: 0;
}
.iconBlaxCorp {
  width: 124.216px;
  height: 27.777px;
  flex-shrink: 0;
}
.button {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.08px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

// .button:link,
// .button:visited {
//   display: flex;
//   align-items: flex-start;
//   gap: 4px;
//   border-radius: 100px;
//   background: #9fe870;
//   cursor: pointer;
//   text-decoration: none; /* Remove underline for links */
//   color: inherit; /* Inherit text color */
// }

.button:active,
.button:focus {
  padding: 5px 12px;
  border-radius: 100px;

  /* The styles for the active and focused state, making the button green */
  background: #9fe870;
  outline: none; /* Remove default focus outline */
}

.icons {
  padding: 12px 11px;
  background-color: rgba(22, 51, 0, 0.08);
  border-radius: 100px;
  border: none;
  position: relative;
  cursor: pointer;
}
.icons:hover {
  background-color: rgba(56, 94, 31, 0.08);
}
.icon {
  width: 28px;
  height: 22px;
}

.text {
  padding: 12px 11px;
  background-color: rgba(22, 51, 0, 0.08);
  border-radius: 100px;
  font-size: 20px;
  color: #0e0f0c;
  font-weight: 600;
}
.flexContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
}
.flexContent:hover {
  background-color: #16330014;
}
.flexContentActive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: #16330014;
}
.iconHeading {
  display: flex;
  width: 166.974px;
  height: 32px;
  justify-content: center;
  align-items: flex-end;
  gap: 14.669px;
  flex-shrink: 0;
}
.menuIcon {
  cursor: pointer;
  position: relative;
}
.mobileMenu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 5px;
  right: 10px;
}

.mobileMenu li {
  margin-bottom: 10px;
}

// -----------------------------------------------------
@media screen and (max-width: 790px) {
  .mainContainer {
    gap: 22px;
  }
  .button {
    font-size: 14px;
  }
}
@media screen and (max-width: 760px) {
  .routesContainer {
    gap: 18px;
  }
  .icons {
    padding: 9px 10px;
  }

  .text {
    padding: 12px 11px;
    font-size: 16px;
  }
  .mainContainer {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 735px) {
  .routesContainer {
    gap: 15px;
  }
  .button {
    font-size: 14px;
  }
  .mainContainer {
    gap: 18px;
  }
}
@media screen and (max-width: 710px) {
  // .button {
  //   font-size: 13px;
  // }
  .routesContainer {
    gap: 13px;
  }
  .icons {
    padding: 7px 9px;
  }

  .text {
    padding: 10px 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .button {
    font-size: 13px;
  }
  .iconHeading {
    width: 150px;
    height: 30px;
  }
  .mainContainer {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 680px) {
  .button {
    font-size: 12px;
  }
  .iconHeading {
    width: 140px;
    height: 28px;
  }
  .routesContainer {
    gap: 10px;
  }
  .mainContainer {
    align-items: center;
  }
  .mainContainer {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 620px) {
  .mainContainer {
    margin-bottom: 12px;
  }
}
