@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  height: max-content;
  margin: 0;
  font-family: "Inter", sans-serif;
  // padding: 0;
  // overflow: hidden;
}

.ant-col.ant-form-item-label label {
  color: #454745 !important;
  font-family: "Inter", sans-serif;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.14px;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100% !important;
}
Link {
  text-decoration: none;
}

.box-border {
  box-sizing: border-box;
}

.customSteps.ant-steps {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  color: #000 !important;
  font-size: 0 !important;
  line-height: 1.5714285714285714 !important;
  list-style: none !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  display: flex !important;
  width: 60% !important;
  text-align: initial !important;
  margin-inline: auto;
  .ant-steps-item-finish
    > .ant-steps-item-container
    > .ant-steps-item-tail::after {
    background: linear-gradient(90deg, #9fe870 0%, #163300 100%) !important;
    border-radius: 100px;
  }
  .ant-steps-item-icon .ant-steps-icon {
    position: relative;
    top: -6.5px;
    color: #00b96b;
    line-height: 1;
    left: -7px;
  }
}

.Toastify__toast {
  /* Increase the font size for better readability */
  font-size: 1.2rem; // You can adjust this value as needed

  /* Increase padding for a larger appearance */
  padding: 20px; // Adjust this value as per your design

  /* Optionally, you can adjust the width of the toast */
  min-width: 350px; // Adjust this value as per your design
}

.Toastify__toast-container {
  /* Centering the toast container */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  /* Positioning the container at the bottom or top as per your preference */
  bottom: 20px; // or top: 20px;
}


