.saveButton {
  border-radius: 30px;
  width: fit-content;
  background: #9fe870;
  color: black;
  padding: 10px 20px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}
.securityMain {
  display: flex;
  gap: 16px;
  flex-flow: row-reverse;
  justify-content: flex-end;
}

.security_step_root {
  width: 100%;
}

.security_left {
  img {
    aspect-ratio: 1;
    height: 100%;
    width: 100%;
    margin-bottom: 12px;
  }
}
.personalDetails {
  max-width: 650px;
  display: flex;
  gap: 30px;
  width: 100%;
  flex-direction: column;
}
.personalDetailsMin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}

.flexText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 26px;
}
.copyicon {
  width: 28px;
  height: 28px;
}
.text {
  font-size: 16px;
  line-height: 1.5;
}
.securityVerified {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.btnEnd {
  display: flex;
  justify-content: end;
  margin-top: 24px;
}
@media screen and (max-width: 576px) {
  .personalDetailsMin {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
  .securityMain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .security_left {
    aspect-ratio: 1;
    height: 100%;
    width: 50%;
    margin-bottom: 12px;
  }
}
