.modalMain {
  padding: 12px 16px;
  position: absolute;
  top: 35%;
}
.modal {
  display: flex;
  max-width: 448px;
  width: 100%;
  max-height: 450px;
  height: 100vh;
  padding: 24px 32px 40px 32px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  //   background-color: rgb(92, 218, 218);
  border-radius: 32px;
  background: #fff;
  position: relative;
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.overlay {
  position: fixed;
  top: 17%;
  left: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
  pointer-events: auto;
  border-radius: 32px;
}
.overlay {
  position: fixed;
  top: 17%;
  left: 36%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
  pointer-events: auto;
}
.iconWarning {
  display: flex;
  width: 96px;
  height: 96px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}
.heading {
  color: #0e0f0c;
  text-align: center;

  /* Title Section */
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 123.077% */
  letter-spacing: -0.39px;
}
.description {
  color: var(--content-secondary, #454745);
  text-align: center;

  /* Body/Large */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.08px;
}
.btnFullWidth {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  align-self: stretch;
  //   width: 100%;
  border-radius: 100px;
  background: #9fe870;
  cursor: pointer;
  //   border: none;
}
.btnOpen {
  border: none;
  background: #9fe870;
  color: #163300;
  text-align: center;
  border-radius: 100px;

  /* Body/Large Bold */
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  width: 100%;
}
.btnOpen:hover {
  background: #89e64f;
}
.btnOpen1 {
  border: none;
  background: #edefeb;
  color: #163300;
  text-align: center;
  border-radius: 100px;

  /* Body/Large Bold */
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  width: 100%;
}
.btnOpen1:hover {
  background: #d6dad4;
}
.modalBtn {
  display: flex;
  margin-top: 20px;
  gap: 60px;
}
.sigCanvas {
  background-color: #ecefeb;
  border: 1px solid #ecefeb;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  touch-action: none; /* Prevent scrolling on touch devices while drawing */

  &:after {
    /* Styling for the signature line */
    content: "";
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%; /* Position it at 50% of the height of the canvas */
    border-bottom: 1px dashed #c0c0c0; /* Dashed line */
    z-index: 1;
  }
}

.signatureContainer {
  position: relative;
}

.cross {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 100px;
  background: rgba(22, 51, 0, 0.08);
  font-size: 26px;
  border: none;
  position: absolute;
  top: 56px;
  right: 24px;
  cursor: pointer;
}
.cross:hover {
  background: rgba(3, 7, 0, 0.08);
}
.crossNew {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 100px;
  background: rgba(22, 51, 0, 0.08);
  font-size: 26px;
  border: none;
  position: absolute;
  top: 48px;
  right: 36px;
  cursor: pointer;
}
.boxContent {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(14, 15, 12, 0.12);
  margin-bottom: 24px;
}
.iconTextFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.descriptionNew {
  @extend .description;
  margin: 0;
}
.modalNew {
  @extend .modal;
  height: 100%;
  z-index: 999;
  cursor: pointer;
}
.subHeading {
  @extend .description;
  font-weight: 600;
  margin: 0;
  color: #000;
  letter-spacing: 0.08;
}
.sellerFlex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  flex-direction: column;
  width: 100%;
}
.label {
  margin: 0;
}
.input {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #868685;
  background: #fff;
  width: 400px;
  margin-bottom: 16px;
  height: auto;
  font-size: 16px;
  
  &::placeholder{
    opacity: 25%;

  }
}
.select {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid #868685;
  background: #fff;
  width: 433px;
  margin-bottom: 16px;
  height: auto;
  font-size: 16px;
  
  &::placeholder{
    opacity: .5%;

  }
}
.input:focus {
  outline: 0;
}
.input2 {
  @extend .input;
  // height: 84px;
  // overflow: auto;
  overflow-y: hidden;
  line-height: 1.6;
}

@media screen and (max-width: 660px) {
  .heading {
    font-size: 24px;
  }
  .iconWarning {
    width: 92px;
    height: 92px;
  }

  .modal {
    max-width: 410px;
  }
}
@media screen and (max-width: 450px) {
  .heading {
    font-size: 23px;
    padding-right: 64px;
  }

  .iconWarning {
    width: 80px;
    height: 80px;
  }
  .description {
    font-size: 15px;
  }
  .modal {
    max-width: 380px;
  }
}
